body {
    background-color: rgb(7, 35, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center; /* Centrado horizontal */
}

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button {
    background-color: #ff0000; 
    border: none;
    color: #ffffff; 
    padding: 15px 32px;
    text-align: center; /* Centrado horizontal */
    text-decoration: none;
    display:flex;
    flex-direction: column;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2); 
    transition-duration: 0.4s;
}

.button-spiderman:hover {
    background-color: #000000; 
    color: #ff0000; 
}

#resultado {
    color:#ccc
}
